<div class="jumbotron search-jumbo">
	<div class="row">
		<% if !@articles.blank? %>
			<% @articles.each do |art| %>
				<h1><%= link_to art.title, art, class:"search-title" %></h1>	
			<% end%>
		<% else %>
			<h2>No se encontraron coincidencias</h2>
		<% end %>
	</div>
</div>